/* Labels */
.label-badge {
  cursor: pointer;
}

/* Meal card */
.meal-card .description {
  margin-bottom: 0;
}

.meal-card img {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}

.meal-card .drink-list {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
  flex-wrap: wrap;
  padding-left: 0;
}

.meal-card .drink-list li {
  cursor: pointer;
}

.meal-card .drink-list li .drink-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

/* Flight details */
.price-container {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.price-container h3 {
  margin-bottom: 0;
}

/* Passenger card */
.passenger-card {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  border: 1px solid black;
  cursor: pointer;
  margin-bottom: 1rem;
}

.passenger-card p {
  margin-bottom: 0;
}
